.app__container {
  color: #fff;
}
.app__container .navbar__container {
  padding: 15px 2vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  font-weight: 500;
}
.app__container .navbar__container .navbar__left,
.app__container .navbar__container .navbar__right {
  display: flex;
  align-items: center;
  gap: 10px;
}
.app__container .navbar__container .navbar__left p,
.app__container .navbar__container .navbar__right p {
  font-size: 18px;
  color: #98a1c0;
}
@media (min-width: 576px) {
  .app__container .navbar__container .navbar__left p,
.app__container .navbar__container .navbar__right p {
    display: none;
  }
}
.app__container .navbar__container .navbar__left a,
.app__container .navbar__container .navbar__right a {
  font-size: 16px;
  color: #98a1c0;
  padding: 8px 16px;
  text-decoration: none;
  transition: 0.2s all ease-in-out;
  border-radius: 12px;
}
@media (max-width: 576px) {
  .app__container .navbar__container .navbar__left a,
.app__container .navbar__container .navbar__right a {
    display: none;
  }
}
.app__container .navbar__container .navbar__left a:hover,
.app__container .navbar__container .navbar__right a:hover {
  background: rgba(153, 161, 189, 0.0784313725);
}
.app__container .navbar__container .navbar__left img,
.app__container .navbar__container .navbar__right img {
  width: 48px;
}
.app__container .navbar__container .navbar__left .MuiButton-root,
.app__container .navbar__container .navbar__right .MuiButton-root {
  color: #98a1c0;
  text-transform: capitalize;
  font-size: 16px;
  font-weight: 400;
  border-radius: 16px;
  padding: 8px 16px;
  background: rgba(153, 161, 189, 0.0784313725);
  display: flex;
  align-items: center;
  gap: 8px;
}
.app__container .navbar__container .navbar__left .MuiButton-root img,
.app__container .navbar__container .navbar__right .MuiButton-root img {
  width: 20px;
}
.app__container .navbar__container .navbar__left .MuiButton-root.walletBtn__container,
.app__container .navbar__container .navbar__right .MuiButton-root.walletBtn__container {
  background: rgba(76, 130, 251, 0.24);
  color: rgb(76, 130, 251);
}
@media (max-width: 576px) {
  .app__container .navbar__container .navbar__left .MuiButton-root.watchContainer,
.app__container .navbar__container .navbar__right .MuiButton-root.watchContainer {
    display: none;
  }
}
.app__container .swap__container {
  padding: 20px;
  width: 29vw;
  border: 2px solid #313040;
  background: #161922;
  border-radius: 16px;
  display: block;
  margin: 120px auto;
}
@media (max-width: 912px) {
  .app__container .swap__container {
    width: 65vw;
  }
}
@media (max-width: 576px) {
  .app__container .swap__container {
    width: 90vw;
  }
}
.app__container .swap__container span {
  color: #98a1c0;
}
.app__container .swap__container .swapTitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 22px;
}
.app__container .swap__container .swapTitle .MuiButton-root {
  min-width: 0;
  padding: 3px 9px;
  border-radius: 50%;
  color: #fff;
}
.app__container .swap__container .swapTitle .MuiButton-root i {
  font-size: 20px;
}
.app__container .swap__container .swapRate {
  margin-top: 15px;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  margin-bottom: 15px;
}
.app__container .swap__container .swapRate i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.app__container .swap__container label {
  color: #98a1c0;
  font-weight: 500;
  font-size: 16px;
}
.app__container .swap__container .swapInput {
  margin-bottom: 15px;
  margin-top: 8px;
  display: flex;
  align-items: center;
  gap: 8px;
  border: 2px solid #313040;
  border-radius: 11px;
  padding: 8px 12px;
}
.app__container .swap__container .swapInput input {
  flex: 1;
  font-size: 20px;
  padding: 8px 3px;
  border: none;
  outline: none;
  background: transparent;
  color: #fff;
}
.app__container .swap__container .swapInput img {
  width: 30px;
  height: 30px;
}
.app__container .swap__container .exchangeBtn__container {
  width: 100%;
  padding: 12px 0;
  background: #4c82fb;
  color: #fff;
  text-transform: capitalize;
  font-size: 18px;
  border-radius: 11px;
}
.app__container .footer__container {
  text-align: center;
  line-height: 1.75;
  color: #98a1c0;
}
.app__container .footer__container a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
}/*# sourceMappingURL=style.css.map */