$border-radius: 14px;

.navbar__container {
  padding: 10px 3vw;
  background-color: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(10px);
  display: flex;
  align-items: center;
  justify-content: space-between;

  img {
    width: 45px;
    height: 45px;
    object-fit: contain;
  }

  .utilities {
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 16px;

    .network {
      display: flex;
      align-items: center;
      gap: 7px;
      background: #fff;
      color: #000;
      border-radius: $border-radius;
      padding: 5px 15px;
      text-transform: capitalize;
      font-size: 15px;
      font-weight: 500;
      border: 2px solid rgb(91, 162, 255);

      img {
        width: 20px;
        height: 20px;
        object-fit: contain;
      }

      @media (max-width: 768px) {
        display: none;
      }
    }

    .wallet {
      font-size: 15px;
      padding: 5px 15px;
      text-transform: capitalize;
      border-radius: $border-radius;
      color: #000;
      background: #fff;
      font-weight: 500;
      border: 2px solid rgba(104, 241, 106, 0.685);
      gap: 7px;
      display: flex;
      align-items: center;

      img {
        width: 20px;
        height: 20px;
        object-fit: contain;
      }
      
      @media (max-width: 768px) {
        display: none;
      }
    }
    
    .downIcon {
      font-size: 17px;
      padding: 5px 15px;
      font-size: 1em;
      border-radius: $border-radius;
      color: #000;
      background: #fff;
      min-width: auto;
      gap: 10px;
      text-transform: capitalize;
      border: 2px solid rgba(255, 150, 12, 0.685);

      @media (max-width: 768px) {
        border: 2px solid rgba(255, 150, 12, 0.685);
        padding: 5px;
      }
    }
  }
}